extends common/layout

block content
  .wrapper.wrapper--nobackground
    include common/header
    +header(categories.userInfo)
    main.main-page.main-page--padding
      section.main-page__category.category
        h1.category__title Категории
        .category__add-form
          form.new-category-form(action=`${categories.BACKEND_URL}/api/categories/add`, method='POST')
            input#add-form-add-category(type='text', name='category', placeholder='Новая категория', maxlength=30)
            label(for='add-form-add-category')
              span.visually-hidden Добавить категорию
            button.category__button.button.button--category(type='submit') Добавить
          span#error-new-category.error-text
        ul.category__list
          each category in categories
            li.category__list-item
              form(action=`${categories.BACKEND_URL}/api/categories/edit/${category.id}?extension=edit`, method='POST')
                input(type='text', id=`modify-form-category-${category.id}`, name='category', value=`${category.category}`)
                label(for='modify-form-category-1')
                  span.visually-hidden Редактировать категорию
                button.category__button.button.button--category(type='submit') Сохранить
                button.category__button.button.button--category.js-delete-category(type='button') Удалить
        .wrapper__delete-error(style='text-align: center; color: red')
          span.delete-error
    include common/footer
