extends common/layout

block content
  .wrapper
    include common/header
    +header(articlesByCategory.userInfo)
    main.articles-category
      h1 #{articlesByCategory.categoryActive}
      section.articles-category__theme-list
        h2.visually-hidden Список тем
        ul.themes
          each category in articlesByCategory.categoriesList
            if category.active
              li.themes__item
                a.themes__item-link.themes__item-link--active #{category.category}
                  sup #{category.count}
            else
              li.themes__item
                a.themes__item-link(href=`/articles/category/${category.id}`) #{category.category}
                  sup #{category.count}
      section.articles-category__list.preview
        h2.visually-hidden Список превью статей
        ul.preview__list
          each article in articlesByCategory.articles
            if article.image
              li.preview__item
                ul.preview__breadcrumbs
                  each category in article.categories
                    li.preview__breadcrumbs-item
                      a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.category}
                .preview__background
                  img.preview__background-image(src=`/upload/${article.image}`, width='460', height='240', srcset=`/upload/${article.image}`, alt='Фотография небоскреба')
                time.preview__time(datetime='2019-03-21T20:33') #{article.createdAt}
                h3.preview__name
                  a.preview__name-link(href=`/articles/${article.id}`) #{article.title}
                p.preview__text
                  | #{article.announce}
                a.preview__comment(href='#') Комментарии
                  span.preview__cloud
                  b.preview__comment-count #{article.comments}
            else
              li.preview__item.preview__item--noimage
                ul.preview__breadcrumbs
                  each category in article.categories
                    li.preview__breadcrumbs-item
                      a.preview__breadcrumbs-link(href=`/articles/category/${category.id}`) #{category.category}
                time.preview__time(datetime='2019-03-21T20:33') #{article.createdAt}
                h3.preview__name
                  a.preview__name-link(href='#') #{article.title}
                p.preview__text
                  | #{article.announce}
                a.preview__comment(href='#')
                  | Комментарии
                  span.preview__cloud
                  b.preview__comment-count #{article.comments}
        .preview__toggle-wrapper(hidden = articlesByCategory.paginationVisible)
          ul.preview__pagination.pagination
            li
              a.pagination__button.button.button--backwards(href=`${articlesByCategory.linkBack.link}` class=`${articlesByCategory.linkBack.disabled ? ' button--disabled' : ''}` aria-label=`Страница назад`)
                | Назад
            each pagination in articlesByCategory.paginationStep
              li.pagination__item(class = `${pagination.offset ? ' pagination__item--active' : ''}`)
                if pagination.offset
                  a() #{pagination.step}
                else
                  a(href=`/articles/category/${articlesByCategory.categoryId}?start=${pagination.step}&count=8&offer=desc`) #{pagination.step}

            li
              a.pagination__button.button.button--forward(href=`${articlesByCategory.linkForward.link}` class=`${articlesByCategory.linkForward.disabled ? ' button--disabled' : ''}` aria-label=`Страница вперед`)
                | Вперед
    include common/footer
