extends common/layout

block content
  .wrapper.wrapper--nobackground
    include common/header
    +header({userRole: 1})
    main.main-page.main-page--padding
      section.main-page__publication.publication
        h1.publication__title Комментарии
        ul.publication__list
          each comment in comments
            li.publication__list-item
              .publication__header
                img.publication__list-image(src='/img/avatar-small-2.png', width='20', height='20', alt='Аватар пользователя')
                b.publication__list-name #{comment.userName}
                time.publication__item-time(datetime='2019-03-21T20:33') #{comment.createdAt}
              a.publication__item-text(href=`/articles/${comment.articleId}`)
                | #{comment.comment}
              p.publication__text-strong
                | #{comment.title}
              button.publication__button.button.button--close-item(type='button', data-commentId=`${comment.id}`)
                span.visually-hidden Закрыть строку списка
    include common/footer
