extends common/layout

block content
  .wrapper.wrapper--nobackground
    include common/header
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in myArticles.articles
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') #{article.createdAt}
              a.notes__item-text(href=`/articles/${article.id}`, data-articleId=`${article.id}`) #{article.title}
              button.notes__button.button.button--close-item(type='button', data-articleId=`${article.id}`)
                span.visually-hidden Закрыть строку списка
      //section#newArticleModal.modal.modal--flex.invisible-block
      //  .popup.popup--new-publication.popup--anti
      //    .new-publication
      //      form#newArticleForm(action='#' method='POST')
      //        .new-publication__header
      //          h1 Новая публикация
      //          .new-publication__date-form
      //            h3 Дата публикации
      //            .new-publication__date-form-division
      //              .new-publication__date-block
      //                label(for='new-publication-date' aria-label='Календарь')
      //                input#new-publication-date(type='text' name='date' placeholder='2019-03-21')
      //          button.new-publication__button.button.button--colored(type='submit') Опубликовать
      //        a.popup__button.button.button--popup-close(aria-label='Закрыть окно')
      //          | Закрыть
      //          | окно
      //        .new-publication__form.form
      //          .form__wrapper.form__wrapper--intro
      //            .form__field
      //              label
      //                input(type='text' name='title' placeholder='Заголовок' value='Как правильно заводить машину' required='')
      //            .form__field.form__field--post-image
      //              label
      //                input#image-name-field(type='text' name='photo' value='moya_mashinka.jpg' placeholder='Фотография' readonly='')
      //              .form__image-loader.form__image-loader--publication
      //                label
      //                  input.visually-hidden(type='file' name='upload')
      //                  | Обзор
      //              button.button.button--transparent Удалить
      //            .new-publication__category-wrapper
      //              .new-publication__checkbox.new-publication__checkbox--auto
      //                input#checkbox-auto(type='checkbox' name='category-1')
      //                label(for='checkbox-auto') Автомобили
      //              a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
      //          .form__wrapper.form__wrapper--text
      //            .form__field.form__field--publication-text
      //              label
      //                textarea(rows='5' name='announcement' placeholder='Анонс публикации')
      //                  | Материнский холдинг возглавит гендиректор Google Сундар Пичаи. При этом больше половины голосов в компании останется у Пейджа и Брина.
      //            .form__field.form__field--publication-text
      //              label
      //                textarea(rows='10' name='full-text' placeholder='Полный текст публикации')
      //                  | Основатели Google Ларри Пейдж и Сергей Брин отойдут от руководства материнским холдингом Alphabet, сказано в сообщении компании. Пейдж занимал пост гендиректора, а Брин — президента Alphabet.
      //                  | Alphabet возглавит гендиректор Google Сундар Пичаи, он также продолжит руководить Google. Должность президента холдинга будет упразднена.

      //section#newArticleModal.modal.modal--flex.invisible-block
      //  .popup.popup--new-publication.popup--flex
      //    .new-publication
      //      .new-publication__header
      //        h1 Новая публикация
      //        .new-publication__date-form
      //          h3 Дата публикации
      //          form(action='#', method='get')
      //            .new-publication__date-block
      //              label(for='new-publication-date', aria-label='Календарь')
      //              input#new-publication-date(type='text', name='login', placeholder='21.03.2019')
      //        button.new-publication__button.button.button--colored(type='button') Опубликовать
      //      button.popup__button.button.button--popup-close(type='button', aria-label='Закрыть окно')
      //        | Закрыть окно
      //      .new-publication__form.form
      //        form#newArticleForm(action='http://localhost:8081/api/articles/add', method='POST', enctype='multipart/form-data')
      //          .form__wrapper.form__wrapper--intro
      //            .form__field
      //              label
      //                input(type='text', name='newArticleTitle', id='newArticleTitle', placeholder='Заголовок', required='', minlength=30, maxlength=250)
      //            .form__field.form__field--post-image
      //              label
      //                input#image-name-field(type='text', placeholder='Фотография', readonly='')
      //              .form__image-loader.form__image-loader--publication
      //                label
      //                  input.visually-hidden(type='file', name='newArticlePhoto', id='newArticlePhoto')
      //                  | Обзор
      //            each category in myArticles.categories
      //              div(class=`new-publication__checkbox new-publication__checkbox--${category.category}`)
      //                input(type='checkbox', id=`checkbox-${category.category}`, name=`checkbox-category`, value=`${category.id}`)
      //                label(for=`checkbox-${category.category}`) #{category.category}
      //            a.new-publication__form-link.button.button--transparent(href='#') Добавить категорию
      //          .form__wrapper.form__wrapper--text
      //            .form__field.form__field--publication-text
      //              label
      //                textarea(rows='1', name='newArticleAnnounce', id='newArticleAnnounce', placeholder='Анонс публикации', required='', minlength=30, maxlength=250)
      //            .form__field.form__field--publication-text
      //              label
      //                textarea(rows='1', name='newArticleFullText', id='newArticleFullText', placeholder='Полный текст публикации', required='', maxlength=1000)
      //          button#submitMainForm.visually-hidden(type=`submit`)
      //  .modal__overlay
    include common/footer
