extends common/layout

block content
  .wrapper.wrapper--nobackground
    include common/header
    main.main-page.main-page--padding
      section.main-page__notes.notes
        h1.notes__title Мои записи
        ul.notes__list
          each article in myArticles.articles
            li.notes__list-item
              time.notes__item-time(datetime='2019-03-21T20:33') #{article.createdAt}
              a.notes__item-text(href=`/articles/edit/${article.id}`, data-articleId=`${article.id}`) #{article.title}
              button.notes__button.button.button--close-item(type='button', data-articleId=`${article.id}`)
                span.visually-hidden Закрыть строку списка
    include common/footer
